@import url('./var.css');



/* herosection */
.homeherosection_imageSection{
     height: 60vh;
     width: 1292px;
    margin-top:10px;
}
.homeherosection_imageSection img{
    height:100%;
    width: 100%;
    object-fit: cover;
    padding: 0 !important;
    margin: 0 !important;

}

/* why us section */
.whyuscontainhome{
     display: flex;
     justify-content: center;
     align-items: center;
}
.whyuscontainhome h3{
    color: var(--primary-brown);
    font-family: var(--font-teko);  
}

 /* product */

 .customsection_product {
    position: relative;
}
.productsectioncontent{
    padding:2px 0 8px 0;
  }

.productsectioncontent:hover{
    border-radius: 8px;
  /* box-shadow:  0px 0px 8px 0px rgb(214, 214, 214); */
   box-shadow: var(--box-shadow);

}

.productsection::before {
    background: url(../image//about//heroimage.png);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-position: center;
    background-color: rgba(255, 215, 0, 0.2); /* Adjust opacity here */
    z-index: -1;
    position: absolute;
    opacity: 0.2;
}

.productsectioncontent span {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--primary-brown);
}
.productsectioncontent .price{
 /* background:var(--primary-brown);
   background:var(--primary-yellow); */
    padding: 4px 8px;
    margin: 2px 0;
    border: 2px solid var(--white);
    border-radius: 8px;
}

.productsectioncontent_imagecontainer {
    height: 200px;
    width: 200px;
}

.productsectioncontent_imagecontainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0 !important;
    margin: 0 !important;
}


/* testimonial */
.customsection_testimonial {
    position: relative;
}

.customsection_testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/whyus/honeybottle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:var(--dark-yellow);
    opacity: 0.1;
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}


.testimonialperson {
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.testimonialperson img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0 !important;
    margin: 0 !important;
}

.testimonialhome {
    opacity: 0.9;
}

/* contact section */
 .contactsectionhome{
     background: var(--primary-brown);
}

.contactsectionhome p{
    padding:  0!important;
    color:var(--white);
    font-size:18px;

}
.contactsectionhome span{
    background: var(--white);
    padding:  0!important;
    border-radius: var(--border-radius);
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-brown);
    border: 4px solid var(--white)
} 
.contactsectionhome span:hover{
     border: 4px solid var(--primary-yellow);
     background:white;
    

} 